* {
  padding: 0;
  margin: 0;
}

body {
  background: #FFF;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 86%;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 100px 0 0 0;
}

h1 {
  padding-bottom: 10px;
}

p {
  padding: 20px 0;
}

.pushpin-button {
  font-weight: bold;
  border-radius: 4px;
  background: #999;
  padding: 10px 16px 10px 34px;
  color: #FFF;
  background-color: #999;
  background-image: url(../images/pebble_round_icon.svg);
  background-position: 10px center;
  background-repeat: no-repeat;
  transition: all .1s ease-in-out;
  cursor: pointer;
}

.pushpin-button:hover {
  box-shadow: 0px 3px 5px rgba(0,0,0,.3);
}

.pushpin-button.pushpin-flight a {
  background-color: #00AAFF;
}

.pushpin-button.pushpin-music {
  background-color: #FF5500;
}

.pushpin-button.pushpin-sports {
  background-color: #AA0055;
}

.pushpin-button.pushpin-conference {
  background-color: #AA55FF;
}

.pushpin-button.pushpin-reminder {
  background-color: #FF0055;
}

.pushpin-button.pushpin-check {
  background-image: url(../images/pebble_check.svg);
  background-color: #00AA54;
}